html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#loading-mask {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	height: expression(document.documentElement.scrollHeight+'px');	/* IE */
	width: expression(document.documentElement.scrollWidth+'px');	/* IE */
	background-color: #000000;
	opacity: 0.7;				/* Safari, Opera */
	-moz-opacity:0.70; 			/* FireFox */
	filter: alpha(opacity=70);	/* IE */
	position: absolute;
	z-index: 20000;
}

#loading {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 200px;
	height: 40px;
	border: 3px solid #BBC0C4;
	padding: 10px;
	background: #EFEFEF;
	margin-left: -113px;
	text-align: left;
	font:bold 13px tahoma,arial,helvetica;
	z-index: 20001;
}

#loading img {
	width: 32px;
	height: 32px;
	float: left;
	margin-right:20px;
}
